html,body{height: 100%;overflow: hidden;}
/*预加载*/
#preload{position:relative;width: 100%;height: 100%;background-color:lightskyblue;}
.pre_main{position:absolute;top:50%;left:15%;width:70%;height: 50px;margin-top:-25px;}
.bar,#bar_percent{height: 16px;border-radius: 10px;background:yellow;box-shadow: 1px 1px 2px #fff;}
.bar{width:100%;}
#bar_percent{width: 0; background: dodgerblue;}
#percent{text-align: center;font-size: 14px;margin-top:20px;font-weight: bold;color:#fff;}
			
/*主体内容*/
.wrap{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 640px;
	margin:0 auto;
}
/*音乐*/
.music{position:absolute;z-index:9;top:2%;right:2%;width:50px;height:47px;background:url(../img/image1.png) -677px -866px;-webkit-transform: scale(0.7);transform: scale(0.7);}
.music_mute{background:url(../img/image1.png) -755px -866px;}
/*翻页箭头*/
.page div.arrow{
	left:47%;
	width:37px;
	margin-left: -19px;
	opacity: 1;
	/*z-index: 3;*/
	background: none;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-animation:arrow .5s linear alternate infinite;
	animation:arrow .5s linear alternate infinite;
}
.arrow img{
	width: 100%;
	max-width: 37px;
	max-height: 48px;
}
@-webkit-keyframes arrow{
	0%{bottom:16%;}
	100%{bottom:17%;}
}


.page{
	position: absolute;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	overflow: hidden;
	display:none;
}

/*页面1*/
.page1{background: #DAE1EB;}
.page>div{position: absolute;opacity: 0;}
.page1>div,.page2>div{background-image:url(../img/image1.png);}
.page .point{
	width:85px;
	height: 63px;
	top:26%;
	right:12%;
	opacity: 1;
}

.page .text1{
	width: 596px;
	height: 79px;
	left: 50%;
	margin-left:-298px;
	-webkit-animation:page1_text1 .8s 2s;
	animation:page1_text1 .8s 2s;	
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page .text2{
	width:541px;
	height: 85px;
	left:50%;
	margin-left: -270px;
	-webkit-animation: page1_text2 .8s 3.5s;	
	animation: page1_text2 .8s 3.5s;	
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page1 .point,.page3 .point,.page5 .point,.page7 .point{
	opacity: 0;
	-webkit-animation: page1_point 1s .5s;
	animation: page1_point 1s .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page1 .text3,.page3 .text3,.page5 .text3,.page7 .text3{
	width: 594px;
	height: 81px;
	left: 50%;
	margin-left: -297px;
	background-position:-94px -750px;
	-webkit-animation: page1_text3 .8s 5s;	
	animation: page1_text3 .8s 5s;	
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page .pic{
	width: 522px;
	height: 522px;
	top: 25%;
	left: 50%;
	margin-left:-261px;
}

.page1 .text1{
	background-position: -483px -554px;
}
.page1 .text2{
	background-position: -509px -650px;
}
.page1 .pic{
	opacity: 1;
	background-position: -8px -11px;	
}
.page1 .point{
	background-position: 0 -754px;
}

/*动画*/
@-webkit-keyframes page1_point{
	0%{top:28%;opacity: 0;-webkit-transform: translate3d(0,0,-300px);transform: translate3d(0,0,-300px);}
	100%{top:26%;opacity: 1;-webkit-transform: translate3d(0,0,0px);transform: translate3d(0,0,0px);}
}

@-webkit-keyframes page1_text1{
	0%{top:10%;opacity: 1;-webkit-transform: translate3d(0,0,-300px);transform: translate3d(0,0,-300px);}
	100%{top:8%;opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
}

@-webkit-keyframes page1_text2{
	0%{top:18%;opacity: 0;-webkit-transform: translate3d(0,0,-300px);transform: translate3d(0,0,-300px);}
	100%{top:16%;opacity: 1;-webkit-transform: translate3d(0,0,0px);transform: translate3d(0,0,0px);}
}

@-webkit-keyframes page1_text3{
	0%{bottom:23%;opacity: 0;-webkit-transform: translate3d(0,0,-300px);transform: translate3d(0,0,-300px);}
	100%{bottom:25%;opacity: 1;-webkit-transform: translate3d(0,0,0px);transform: translate3d(0,0,0px);}
}


/*页面2*/
.page2{
	background: #CAA3D9;
}
.page2 .point{
	background-position: -15px -850px;
}
.page2 .pic,.page4 .pic,.page6 .pic,.page8 .pic{
	opacity: 1;
	-webkit-animation: page2_pic 1.2s;	
	animation: page2_pic 1.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.page2 .pic{
	background-position: -562px -11px;
}

.page2 .text1{
	width: 356px;
	height: 79px;
	left: 50%;
	margin-left: -178px;
	background-position: -718px -759px;
}
.page2 .text2{
	background-position: -101px -845px;
}
.page2 .text3,.page4 .text3,.page6 .text3,.page8 .text3{
	width:420px;
	height: 163px;
	bottom:20%;
	left: 50%;
	margin-left:-210px;
	background-position:  -10px -543px;
	-webkit-animation: page2_text3 2.5s 1s;
	animation: page2_text3 2.5s 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes page2_pic{
	0%{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
	100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@-webkit-keyframes page2_text3{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

/*页面3*/
.page3{
	background:#DAE1EB;
}
.page3>div,.page4>div{
	background-image:url(../img/image2.png);
}
.page3 .text1{
	background-position:-2px -798px;
}
.page3 .text2{
	background-position:-605px -728px;
}
.page3 .text3{
	background-position:-11px -880px;
}
.page3 .pic{
	opacity: 1;
	background-position:-8px -10px;
}
.page3 .point{
	background-position:  -672px -837px;
}

/*页面4*/
.page4{
	background: #F9ABC2;
}
.page4 .text1{
	background-position:-530px -554px;
}
.page4 .text2{
	background-position:-534px -635px;
}
.page4 .pic{
	opacity: 1;
	background-position:-565px -10px;
}
.page4 .point{
	background-position:  -794px -840px;
}

/*页面5*/
.page5{
	background:#DAE1EB;
}
.page5>div,.page6>div{
	background-image:url(../img/image3.png);
}
.page5 .text1{
	background-position:-547px -555px;
}
.page5 .text2{
	background-position:-571px -647px;
}
.page5 .text3{
	background-position:-14px -762px;
}
.page5 .pic{
	opacity: 1;
	background-position:-8px -5px;
}
.page5 .point{
	background-position:-625px -889px;
}

/*页面6*/
.page6{
	background: #82BDEC ;
}
.page6 .text1{
	width:356px;
	height: 80px;
	left:50%;
	margin-left: -178px;
	background-position:-696px -775px;
}
.page6 .text2{
	background-position:-19px -866px;
}
.page6 .pic{
	opacity: 1;
	background-position:-553px -10px;
}
.page6 .point{
	background-position: -722px -890px;
}

/*页面7*/
.page7{
	background:#DAE1EB;
}
.page7>div,.page8>div{
	background-image:url(../img/image4.png);
}
.page7 .text1{
	background-position:-418px -552px;
}
.page7 .text2{
	background-position:-423px -656px;
}
.page7 .text3{
	background-position:-9px -762px;
}
.page7 .pic{
	opacity: 1;
	background-position:-8px -5px;
}
.page7 .point{
	background-position:-625px -875px;
}

/*页面8*/
.page8{
	background: #F2C576;

}
.page8 .text1{
	width:356px;
	height: 80px;
	left:50%;
	margin-left: -178px;
	background-position:-727px -769px;
}
.page8 .text2{
	background-position:-15px -866px;
}
.page8 .pic{
	opacity: 1;
	background-position:-557px -10px;
}
.page8 .point{
	background-position:-722px -878px;
}
.page8 .text3{
	width:362px;
	height: 186px;
	left:50%;
	margin-left: -181px;
	background-position:-18px -552px;
}

/*页面9*/
.page9{background:#FC6F6F;}
.page9>div{background-image:url(../img/image5.png);}

.page9 .text1,.page9 .text2,.page9 .text3{
	opacity: 1;
	-webkit-animation: none;
	animation: none;
}

.page9 .text1{
	top: 8%;
	background-position: -14px -440px;
}
.page9 .text2{
	top: 16%;
	background-position:-13px -595px;
}
.page9 .pic{
	opacity: 1;
	width:386px;
	height: 413px;
	margin-left: -193px;
	background-position:-5px -12px;
	-webkit-animation: page9_pic 1s linear alternate infinite;
	animation: page9_pic 1s linear alternate infinite;
}
@-webkit-keyframes page9_pic{
	0%{top: 28%;}
	100%{top: 27%;}
	
}
.page9 .point{
	background-position:-668px -526px;
}
.page9 .info{
	font-size: 32px;
	line-height: 46px;
	width: 100%;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 30%;
}
.page9 .hand{
	opacity: 1;
	bottom: 18%;
	width:133px;
	height: 133px;
	left: 50%;
	margin-left: -67px;
	background-position: -789px -432px;
}
.page9 .hand_animate{
	opacity: 1;
	/*bottom: 27.3%;*/
	width:133px;
	height: 20px;
	left: 50%;
	margin-left: -67px;
	background-position: -789px -580px;
	-webkit-animation: handAnimate 1.2s linear alternate infinite;
	animation: handAnimate 1.5s linear alternate infinite;
}
@-webkit-keyframes handAnimate{
	0%{bottom: 17.5%;}
	100%{bottom: 27.3%;}
}

